@model CRM_Raviz.Models.EventTable

@{
    ViewBag.Title = "CRMPPF";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Report</title>
    <style>
        /* CSS for styling */
        .heading {
            font-family: 'Jaldi', sans-serif;
            font-size: 38px;
            margin-bottom: 20px;
            text-align: left;
            font-weight: 600;
            color: #082948;
        }

        .form-control {
            width: 200px;
        }

        #endDateContainer {
            display: none;
        }

        .container1 {
            display: flex;
            justify-content: left;
            align-items: flex-start;
            margin-bottom: 20px;
            flex-direction: row;
        }

        .date-input {
            margin-right: 10px;
        }

        .body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .submit-button {
            margin-top: 20px;
            background: #082948;
        }

            .submit-button:hover {
                margin-top: 20px;
                background: #082948;
            }


    </style>
</head>
<body>
    <h1 class="heading">CRM Post Production File</h1>

    <div class="container1" style="display: flex;">
        @using (Html.BeginForm("DownloadCases", "Home", FormMethod.Get))
        {
            <div style="display: flex; flex-wrap: wrap;">
                @{
                    // Retrieve the AgentNames values from the ViewBag
                    var agentNames = ViewBag.AgentNames as List<string>;
                }

                <div style="margin-right: 10px;">
                    @Html.DropDownList("Users", new SelectList(agentNames.Select(x => new { Text = x, Value = x }), "Value", "Text"), "Select User Role", new { @class = "form-control box dropdown-styled", id = "SubDispo" })
                </div>

                <div style="margin-right: 10px;">
                    @Html.DropDownList("callbackLanguage", new List<SelectListItem>
                    {
                        new SelectListItem { Text = "NA", Value = "NA"},
                        new SelectListItem { Text = "English", Value = "English" },
                        new SelectListItem { Text = "Arabic", Value = "Arabic" },
                        new SelectListItem { Text = "Hindi", Value = "Hindi" }
                    }, new { @class = "form-control box dropdown-styled", id = "SubDispo" })
                </div>

                <div style="margin-right: 10px;">
                    <input type="date" class="form-control box dropdown-styled date-input" placeholder="Select a date" name="specificDate">
                </div>

                <div style="margin-right: 10px;">
                    <label>
                        <input type="checkbox" id="showEndDate" name="showEndDate" /> Show End Date
                    </label>
                </div>

                <div id="endDateContainer" style="margin-right: 10px;">
                    <input type="date" class="form-control box dropdown-styled date-input" placeholder="Select end date" name="endDate">
                </div>
            </div>

            <div>
                <button type="submit" class="btn submit-button" >Submit</button>
            </div>
        }
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#showEndDate').change(function () {
                $('#endDateContainer').toggle();
            });
        });
    </script>
</body>
</html>
