
@{
    ViewBag.Title = "UploadCases";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $("#btnUploadFile").click(function () {

            var client = $("#client").val();
            var product = $("#product").val();
            var verification_type = $("#verification_type").val();

            if (client == "") {
                swal("Oops", "Please select client name", "error")
                return false;
            }
            else if (product == "") {
                swal("Oops", "Please select product", "error")
                return false;
            }
            else if ($("#excelfile").val() != "") {
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.xlsx|.xls)$/;
                if (!regex.test($("#excelfile").val().toLowerCase())) {
                    swal("Oops", "Please remove special character from your selected excel file!", "error")
                    return false;
                }
                else {
                    UploadSelectedExcelsheet(client, product);
                }
            }
            else {
                swal("Oops", "Please select a Excel file!", "error")
                return false;
            }
        });

        function UploadSelectedExcelsheet(client, product) {
            $("#divLoading").show();
            var data = new FormData();
            var i = 0;
            var fl = $("#excelfile").get(0).files[0];
            if (fl != undefined) {
                data.append("file", fl);
                data.append("client", client);
                data.append("product", product);
            }

            $.ajax({
                type: "POST",
                url: "/Home/UploadExcelsheet",
                contentType: false,
                processData: false,
                data: data,
                success: function (response) {
                    $("#divLoading").hide();
                    if (response.Status == "Success") {
                        swal("Success!", response.Total, "success");
                    }
                    else if (response.Status == "Fail") {
                        swal("Oops", response.Total, "error")
                    }
                    else {
                        swal("Oops", response.Total, "error")
                    }
                },
                error: function (response) {
                    $("#divLoading").hide();
                    swal("Oops", response.Total, "error")
                    return false;
                }
            });
        }
    </script>

    <style>

        @@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



        .heading {
            font-size: 30px;
            font-family: 'Jaldi', sans-serif;
            text-align: center;
            padding: 20px 0px;
        }

        .file-upload-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .inner-margin {
            margin-bottom: 20px;
        }

        /* Style the file input label */
        .file-label {
            display: flex;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            background-color: var(--ADCB-font);
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            overflow: hidden;
            cursor: pointer;
        }

        /* Hide the default file input */
        .hidden-input {
            display: none;
            cursor: pointer;
        }

        /* Style the mandatory asterisk */
        .mandatory {
            color: red;
            margin-left: 5px;
        }

        /* Style the upload button */
        .button-container {
            margin-top: 10px;
        }

        .Subbtn {
            background-color: #082948;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            font-size: 20px;
            font-family: 'Jaldi', sans-serif;
            width: 100px;
            height: 40px;
            padding: 0;
            transition-duration: 0.3s;
        }

        /* Optional: Add hover effect */
        .btn-primary:hover {
            background-color: var(--ADCB-primary);
            transform: scale(1.1);
        }

        .filebutton {
        }

        .drop-container {
            position: relative;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 200px;
            padding: 20px;
            border-radius: 10px;
            border: 2px dashed #555;
            color: #444;
            cursor: pointer;
            transition: background .2s ease-in-out, border .2s ease-in-out;
        }

            .drop-container:hover {
                background: #eee;
                border-color: #111;
            }

                .drop-container:hover .drop-title {
                    color: #222;
                }

        .drop-title {
            color: #444;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            transition: color .2s ease-in-out;
        }

        .down {
            background-color: #082948;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            font-size: 20px;
            font-family: 'Jaldi', sans-serif;
            width: 200px;
            height: 40px;
            margin: 20px 0px;
            transition-duration: 0.3s;
        }
    </style>
</head>
<body style="padding: 0px;">


    <div>
        <div class="heading">Upload Cases</div>
        <div style="display: flex;  flex-direction: column;">
            @using (Html.BeginForm("UploadCases", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <label for="images" class="drop-container" id="dropcontainer">
                    <span class="drop-title">Drop files here</span>
                    or
                    <input type="file" name="file" id="file" accept=".xlsx, .xls" class="filebutton" required>
                    <input type="submit" value="Upload" class="Subbtn">


                </label>

            }



        </div>
        <button onclick="downloadExcel()" class="down">Download Sample</button>
    </div>
    <script>
        function downloadExcel() {
            // Sample data
            const data = [
                ["Account", "Customer Name", "Bounced cheque", "B.Chq Penalities", "IP Telephone billing", "Utility billing", "Others", "O/S Balance", "License expiry", "Contact Person", "Nationality", "Mobile1", "Mobile2", "Mobile3", "Mobile4", "Mobile5", "Email-1", "Email-2", "Email-3", "Email-4", "Email-5", "Closed Account", "Dormant Account", "Insufficient Funds", "Other Reason", "Signature Irregular", "Technical Reason", "Others"],
                // Add more rows as needed
            ];

            // Create Excel file
            const csvContent = "data:text/csv;charset=utf-8," + data.map(row => row.join(",")).join("\n");
            const encodedUri = encodeURI(csvContent);
            const link = document.createElement("a");
            link.setAttribute("href", encodedUri);
            link.setAttribute("download", "excel_sheet.csv");
            document.body.appendChild(link);
            link.click();
        }
    </script>

</body>
</html>

