
@{
    ViewBag.Title = "UploadCases";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $("#btnUploadFile").click(function () {

            var client = $("#client").val();
            var product = $("#product").val();
            var verification_type = $("#verification_type").val();

            if (client == "") {
                swal("Oops", "Please select client name", "error")
                return false;
            }
            else if (product == "") {
                swal("Oops", "Please select product", "error")
                return false;
            }
            else if ($("#excelfile").val() != "") {
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.xlsx|.xls)$/;
                if (!regex.test($("#excelfile").val().toLowerCase())) {
                    swal("Oops", "Please remove special character from your selected excel file!", "error")
                    return false;
                }
                else {
                    UploadSelectedExcelsheet(client, product);
                }
            }
            else {
                swal("Oops", "Please select a Excel file!", "error")
                return false;
            }
        });

        function UploadSelectedExcelsheet(client, product) {
            $("#divLoading").show();
            var data = new FormData();
            var i = 0;
            var fl = $("#excelfile").get(0).files[0];
            if (fl != undefined) {
                data.append("file", fl);
                data.append("client", client);
                data.append("product", product);
            }

            $.ajax({
                type: "POST",
                url: "/Home/UploadExcelsheet",
                contentType: false,
                processData: false,
                data: data,
                success: function (response) {
                    $("#divLoading").hide();
                    if (response.Status == "Success") {
                        swal("Success!", response.Total, "success");
                    }
                    else if (response.Status == "Fail") {
                        swal("Oops", response.Total, "error")
                    }
                    else {
                        swal("Oops", response.Total, "error")
                    }
                },
                error: function (response) {
                    $("#divLoading").hide();
                    swal("Oops", response.Total, "error")
                    return false;
                }
            });
        }
    </script>

    <style>

        @@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



        .heading {
            font-size: 43px;
            font-family: 'Jaldi', sans-serif;
            text-align: center;
            padding: 10px 0px;
        }

        .file-upload-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .inner-margin {
            margin-bottom: 20px;
        }

        /* Style the file input label */
        .file-label {
            display: flex;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            background-color: var(--ADCB-font);
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            overflow: hidden;
            cursor: pointer;
        }

        /* Hide the default file input */
        .hidden-input {
            display: none;
            cursor: pointer;
        }

        /* Style the mandatory asterisk */
        .mandatory {
            color: red;
            margin-left: 5px;
        }

        /* Style the upload button */
        .button-container {
            margin-top: 10px;
        }

        .Subbtn {
            background-color: #082948;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 20px;
            font-family: 'Jaldi', sans-serif;
            width: 100px;
            height: 40px;
            padding: 0;
            transition-duration: 0.3s;
        }

        /* Optional: Add hover effect */
        .btn-primary:hover {
            background-color: var(--ADCB-primary);
            transform: scale(1.1);
        }

        .filebutton {
        }

        .drop-container {
            position: relative;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 200px;
            padding: 20px;
            border-radius: 10px;
            border: 2px dashed #555;
            color: #444;
            cursor: pointer;
            transition: background .2s ease-in-out, border .2s ease-in-out;
        }

            .drop-container:hover {
                background: #eee;
                border-color: #111;
            }

                .drop-container:hover .drop-title {
                    color: #222;
                }

        .drop-title {
            color: #444;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            transition: color .2s ease-in-out;
        }

        .drop {
            border: 1px solid #082948;
            font-size: 20px;
            font-family: 'Jaldi', sans-serif;
            width: 200px;
            height: 40px;
            margin: 20px 0px;
            transition-duration: 0.3s;
            margin-right: 20px;
            cursor: pointer;
            border-radius: 5px;
        }

        .down {
            background-color: #082948;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 20px;
            font-family: 'Jaldi', sans-serif;
            width: 200px;
            height: 40px;
            margin: 20px 0px;
            transition-duration: 0.3s;
            margin-right: 20px;
            cursor: pointer;
        }

        .down option:hover {
           cursor: pointer;
        }
    </style>


</head>
<body style="padding: 0px;">


    <div>
        <div class="heading">Upload Cases</div>

        @using (Html.BeginForm("UploadCases", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div style="display: flex; align-items: center; flex-direction: row; justify-content: center; font-family: 'Jaldi', sans-serif; font-weight: 500; font-size: 22PX; ">
                <div style="text-align:center; padding-right: 10px;"> Select Segment</div>
                <select name="dropdown" id="dropdown" class="drop">
                    <option value="Bounced Cheque">Bounced Cheque</option>
                    <option value="Others">Others</option>
                </select>
            </div>




            <div style="display: flex;  flex-direction: column;">

                <label for="images" class="drop-container" id="dropcontainer">
                    <span class="drop-title">Drop files here</span>
                    or
                    <input type="file" name="file" id="file" accept=".xlsx, .xls" class="filebutton" required>
                    <input type="submit" value="Upload" class="Subbtn">


                </label>





            </div>

            @Html.Hidden("dropdown")
        }
        <div style="display: flex; flex-direction: row;">

            <button onclick="downloadExcel()" class="down">Download Sample</button>
        </div>






    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    $(document).ready(function() {
        @if(ViewBag.Message != null)
        {
            <text>
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: '@ViewBag.Message'
                });
            </text>
        }

        @if(ViewBag.Error != null)
        {
            <text>
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: '@ViewBag.Error'
                });
            </text>
        }
    });
    </script>

    <script>
        function downloadExcel() {
            const workbook = new ExcelJS.Workbook();

            // Add the first sheet
            const sheet1 = workbook.addWorksheet("Overall Allocation");
            const dataSheet1 = [
                ["AccountNo", "Customer Name", "Contact Person", "Nationalily", "Mobile1", "Mobile2", "Mobile3", "Mobile4",
                    "Email-1", "Email-2", "Email-3", "Primary Tenancy's Facility Type", "License expiry",
                    " Expected Renewal Fee (SF)", " Last SR Number", "Expected De-Registration Fee", "Bounced cheque", "Bounce Cheque Penalties",
                    " IP Telephone billing ", " Utility billing ", " Others ", " O/S Balance ",
                    "Closed Account", "Dormant Account", "Insufficient Funds", "Other Reason", "Signature Irregular",
                    "Technical Reason", "Others", "Employee Visa Quota", "Employee Visa Utilized", "Product Bundle Name",
                    "License Type", "Facility Type", "No of Years", "Derby Batch", "Agent","Batch Date"]
            ];
            sheet1.addRows(dataSheet1);

            // Style the first row of the first sheet (yellow)
            const firstRowSheet1 = sheet1.getRow(1);
            firstRowSheet1.eachCell((cell) => {
                cell.fill = {
                    type: 'pattern',
                    pattern: 'solid',
                    fgColor: { argb: 'FFFF00' } // Yellow color
                };
            });

            // Add the second sheet
            const sheet2 = workbook.addWorksheet("BC Details");
            const dataSheet2 = [
                ["AccountNo", "Cheque Number", "Date bounced", "Amount in local currency", "Reason code", "Text"]
            ];
            sheet2.addRows(dataSheet2);

            // Style the rows of the second sheet (dark blue)
            sheet2.eachRow((row) => {
                row.eachCell((cell) => {
                    cell.fill = {
                        type: 'pattern',
                        pattern: 'solid',
                        fgColor: { argb: '0d6efd' } // Dark Blue color
                    };
                });
            });

            // Write the workbook to a file
            workbook.xlsx.writeBuffer().then((buffer) => {
                saveAs(new Blob([buffer]), "SampleUpload.xlsx");
            });
        }
    </script>




</body>
</html>

